---
import BaseHead from '../components/BaseHead.astro';
import ProfileCard from '../components/ProfileCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
type Post = {
  frontmatter: { publishDate: string; title: string };
  url: string;
};
const posts: Post[] = (
  (await Astro.glob('./blog/*.{md,mdx}')) as unknown as Post[]
).sort(
  (a: Post, b: Post) =>
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
);
---

<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
        margin: 0;
      }
      ul li {
        display: flex;
        gap: 12px;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #888;
      }
      ul li a:visited {
        color: #60a5fa;
      }
      @media (max-width: 600px) {
        ul li {
          display: grid;
          grid-template-columns: 1fr;
        }
        ul li time {
          order: -1;
          flex: initial;
          color: #9ca3af;
        }
      }
    </style>
  </head>
  <body>
    <main class='content-grid'>
      <aside>
        <ProfileCard
          name='Eren Baltacı'
          avatarSrc='/placeholder-social.jpg'
          occupation='Solopreneur'
          location='Turkiye'
          backHref='/'
          backLabel='Back to Home'
        />
      </aside>
      <content>
        <ul>
          {
            posts.map((post) => (
              <li>
                <time datetime={post.frontmatter.publishDate} class='no-wrap'>
                  {new Date(post.frontmatter.publishDate).toLocaleDateString(
                    'en-us',
                    {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric',
                    }
                  )}
                </time>
                <a href={post.url} class='truncate'>
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </content>
    </main>
  </body>
</html>

